
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Add Operation", "AddOperation", "User")
        </li>

        <li>
            @Html.ActionLink("Add Category", "AddCategory", "User")
        </li>

        <li>
            @Html.ActionLink("Income", "Income", "User")
        </li>

        <li>
            @Html.ActionLink("Expense", "Expense", "User")
        </li>

    </ul>